<div class="main">
    Hello this is shipping
</div>
{% schema %}
  {
    "name": "shipping",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "shipping",
        "settings": {
        }
      }
    ]
  }
{% endschema %}